<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <div class='row'>
        <div class='mx-auto'>
          <h3 style='background: #f3f3f3'> ジャンル編集 </h3>
        </div>
      </div>
      <div class='row ml-3 mt-5 mb-5 text-center'>
        <%= render 'form', genre: @genre %>
      </div>
    </div>
  </div>
</div>
