<div class='container mt-5'>
  <p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
  <div class='row'>
    <div class='col-6'>
      <div class='row'>
        <div class="offset-1 text-center">
          <h3 class="px-4" style="background: #f3f3f3">ジャンル編集</h3>
        </div>
      </div>
      <div class='row ml-3 mt-5 mb-5 text-center'>
        <%= render 'form', genre: @genre %>
      </div>
    </div>
  </div>
</div>
