<div class="container mt-5">
  <p class="text-success"><%= notice %></p>
  <div class="row">
    <div class="col-3 offset-1">
      <div class="text-center">
        <h3 style="background: #f3f3f3;">配送先登録/一覧</h3>
      </div>
    </div>
  </div>
  <div class="m-5">
    <%= render 'form', address: @address %>
  </div>
  <div class="row mt-4">
    <div class="col-8">
      <%= render 'index', addresses: @addresses %>
    </div>
  </div>
</div>