<div class="container">
  <p class="text-success"><%= notice %></p>
  <div class="row m-4">
    <div class="col-4 text-center">
      <h2 style="background: #f3f3f3"> ショッピングカート </h2>
    </div>
  </div>
</div>