<% case order.transaction_status %>
  <% when "waiting" then %>
    <p class="m-0">入金待ち</p>
  <% when "paid_up" then %>
    <p class="m-0">入金確認</p>
  <% when "producting" then %>
    <p class="m-0">製作中</p>
  <% when "preparing" then %>
    <p class="m-0">発送準備中</p>
  <% when "shipped" then %>
    <p class="m-0">発送済み</p>
<% end %>